h1 {
  color: white;
  text-shadow: 10px 6px 5px blueviolet;
}
body {
  min-height: 100vh !important;
  text-align: center;
  background-image: url("background1.jpg");
}
h2,
h3,
h4,
h5 {
  color: rgb(224, 204, 204);
}
p {
  color: #afaebd;
  font-size: small;
}
#rules {
  color: #a4a0cf;
  line-height: 20px;
}
#attempts {
  border: 2px solid rgb(110, 97, 97);
  width: 30vw;
  padding: 10px;
  margin: auto;
  color: white;
  opacity: 0.9;
  background-color: black;
  border-radius: 5px;
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#code {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer {
  margin-top: 6%;
  padding: 5%;
  color: white;
  background-color: #0d0a36;
}
#space {
  margin-top: 5%;
}
#rough {
  width: 96%;
  opacity: 0.35;
  font-size: 20px;
}
.enter {
  height: 55px;
  width: 55px;
  font-size: 30px;
  opacity: 0.35;
  border: 10px solid black;
}
button {
  border: 5px solid black;
  font-size: 16px;
  background-color: rgb(39, 55, 146);
  color: white;
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(161, 165, 189);
  color: rgb(5, 2, 2);
}
#hints {
  margin-top: 5%;
  min-height: 10vh;
  box-shadow: 1px 1px 0px 3px blueviolet;
  padding: 2px;
}
#cursive {
  font-family: cursive;
}
@media (max-width: 800px) {
  .enter {
    height: 65px;
    width: 65px;
    font-size: 30px;
    opacity: 0.8;
    border: 10px solid black;
  }
  button {
    border: 5px solid black;
    background-color: rgb(50, 71, 189);
    color: white;
    opacity: 0.8;
  }

  #rough {
    opacity: 0.3;
    width: 96%;
    font-size: 16px;
  }
}
address {
  font-weight: bolder;
  font-size: large;
}
.blink:hover {
  box-shadow: 5px 5px 8px 5px white;
}
@keyframes anim {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
